In [2]:
!pip install datatile

Collecting datatile
  Downloading datatile-1.0.3-py3-none-any.whl (6.0 kB)
Collecting traceml<1.1
  Downloading traceml-1.0.8-py3-none-any.whl (144 kB)
Installing collected packages: traceml, datatile
Successfully installed datatile-1.0.3 traceml-1.0.8

In [3]:
import pandas as pd
import numpy as np
import matplotlib
from datatile.summary.df import DataFrameSummary

In [5]:
df_raw_data = pd.read_csv("train_data.csv")

In [15]:
dfs = DataFrameSummary(df_raw_data)
dfs.summary()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,NaN,NaN,NaN,NaN,NaN,NaN,614,614,592,600,564,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,5403.46,1621.25,146.412,342,0.842199,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,6109.04,2926.25,85.5873,65.1204,0.364878,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,150,0,9,12,0,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2877.5,0,100,360,1,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3812.5,1188.5,128,360,1,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5795,2297.25,168,360,1,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,81000,41667,700,480,1,NaN,NaN
counts,614,601,611,599,614,582,614,614,592,600,564,614,614
uniques,614,2,2,4,2,2,505,287,203,10,2,3,2
missing,0,13,3,15,0,32,0,0,22,14,50,0,0
missing_perc,0%,2.12%,0.49%,2.44%,0%,5.21%,0%,0%,3.58%,2.28%,8.14%,0%,0%
types,unique,bool,bool,categorical,bool,bool,numeric,numeric,numeric,numeric,bool,categorical,bool

In [16]:
df_raw_data_clean = df_raw_data.dropna(axis=0)

In [17]:
dfs_1 = DataFrameSummary(df_raw_data_clean)
dfs_1.summary()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,NaN,NaN,NaN,NaN,NaN,NaN,480,480,480,480,480,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,5364.23,1581.09,144.735,342.05,0.854167,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,5668.25,2617.69,80.5082,65.2124,0.353307,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,150,0,9,36,0,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2898.75,0,100,360,1,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3859,1084.5,128,360,1,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5852.5,2253.25,170,360,1,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,81000,33837,600,480,1,NaN,NaN
counts,480,480,480,480,480,480,480,480,480,480,480,480,480
uniques,480,2,2,4,2,2,405,232,186,9,2,3,2
missing,0,0,0,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,unique,bool,bool,categorical,bool,bool,numeric,numeric,numeric,numeric,bool,categorical,bool

In [9]:
df_raw_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [20]:
print(df_raw_data_clean['Gender'].value_counts(normalize=True))
print(df_raw_data_clean['Married'].value_counts(normalize=True))

Yes    0.647917
No     0.352083
Name: Married, dtype: float64